*{

}
 .Request-container{
    /* background: linear-gradient(rgb(92, 175, 92), rgb(40, 29, 127),rgb(189, 65, 202)); */ 
    background:linear-gradient(rgb(92, 175, 92), rgb(40, 29, 127),rgb(189, 65, 202));
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}
.Request-Form{
    background-color: rgb(223, 222, 228);
    
    width:100%;
    max-width: 450px;
    padding: 2rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    
    border-radius: 1rem;
    box-shadow: 2px 2px 3px 4px gray;

}
.input-group textarea{
    width: 100%;
    min-height: 8rem;
    font-size: 18px;
    border-radius: 1rem;
    border: 1px green;
    outline: none;
    text-align: center;
}
.input-group textarea:hover{
    box-shadow: 1px 1px 1px 2px rgb(178, 11, 39);
}